.menu {
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }


.item {
  color: aliceblue;
  text-decoration: none;
}

.active{
  color: aqua;
  text-decoration: none;
}
